/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/bb
.clj-kondo/.cache
/.cpcache
/cljs-test-runner-out
/sci
/cljs-opts.edn
/out
/.shadow-cljs
/report.html
target
libsci/sci-rs/target
tmp
