{:pods {clj-kondo/clj-kondo {:version "2022.02.09"}}
 :deps {io.github.borkdude/quickdoc
        #_{:local/root "/Users/borkdude/dev/quickdoc"}
        {:git/sha "20e65942002b1323a523a74d2b017ff8050a7394"}}

 :tasks
 {test:jvm  {:doc "Run CLJ tests with leiningen"
             :task (shell "script/test/jvm")}

  test:native  {:doc "Run CLJ tests with leiningen"
                :task (do (shell "script/compile")
                          (shell {:extra-env {"SCI_TEST_ENV" "native"}}
                                 "script/test/jvm"))}

  test:node {:doc "Run CLJS tests with Node.js"
             :task (shell "script/test/node")}


  test:self-hosted {:doc "Run CLJS test with self-hosted"
                    :task (shell "plk -A:test -K -m sci.test-runner")}
  quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (api/quickdoc {:git/branch "master"
                                 :github/repo "https://github.com/babashka/sci"
                                 :collapse-nss true
                                 :collapse-vars true})}}}
