{:paths ["resources" "src"]
 :deps {borkdude/edamame {:mvn/version "1.6.40"}
        org.babashka/sci.impl.types {:mvn/version "0.0.3"}
        borkdude/graal.locking {:mvn/version "0.0.2"}}
 :cljd/opts {:kind :dart :main sci-repl.main}
 :aliases
 {:examples {:extra-paths ["examples"]}
  :cljd {:extra-paths ["test" "demo"]
         ;; TODO: back to tensegritics when cljd.core/list meta PR is merged
         :extra-deps {tensegritics/clojuredart
                      {:git/url "https://github.com/borkdude/ClojureDart.git"
                       :git/sha "0a33cbb11f3d2b974eafca0036794b125029a58a"}}
         ;; TODO: drop override when edamame > 1.6.40 is released
         ;; sha is on the edamame cljd-fixes branch
         :override-deps {borkdude/edamame
                         {:git/url "https://github.com/borkdude/edamame.git"
                          :git/sha "f0ee934ff274303c061ae648345001e69ff3152b"}}
         :main-opts ["-m" "cljd.build"]}
  ;; local ClojureDart checkout, compose as -M:cljd:cljd-local
  :cljd-local {:override-deps {tensegritics/clojuredart {:local/root "/Users/borkdude/dev/ClojureDart"}}}
  :dev {:extra-deps {org.clojure/clojure {:mvn/version "1.12.0"}}}
  :test {:extra-paths ["test" "test-resources"]
         :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                      org.clojure/clojurescript {:mvn/version "1.11.132"}
                      clj-commons/conch {:mvn/version "0.9.2"}
                      funcool/promesa {:mvn/version "8.0.450"}}}
  :shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "3.3.5"}}}
  :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.54"}}}
  :clj-test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "a522ab2851a2aa5bf9c22a942b45287a3a019310"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :extra-paths ["test" "cljs-test-runner-out/gen"]
   :main-opts ["-m" "cljs-test-runner.main" "-d" "test"]}
  :cljs-build
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}
   :main-opts ["-m" "cljs.main" "-co" "min.js.edn" "-c"]}
  :bench
  {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {org.clojure/tools.cli {:mvn/version "1.0.214"}
    criterium/criterium {:mvn/version "0.4.6"} }
   :extra-paths ["bench"]
   :main-opts ["-m" "sci.bench"]}
  :profile
  {:extra-deps
   {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}}
   :extra-paths ["bench"]
   :jvm-opts ["-Djdk.attach.allowAttachSelf" "-Dclojure.compiler.direct-linking=true"]
   :main-opts ["-m" "sci.profile"]}
  :clojure-1.11.0
  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.0-alpha1"}}}}}
