{:paths ["resources" "src"]
 :deps {borkdude/edamame {:mvn/version "0.0.19"}
        borkdude/sci.impl.reflector {:mvn/version "0.0.1"}}
 :aliases
 {:examples {:extra-paths ["examples"]}
  :test {:extra-paths ["test" "test-resources"]
         :extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}
                      org.clojure/clojurescript {:mvn/version "1.10.866"}
                      clj-commons/conch {:mvn/version "0.9.2"}}}
  :clj-test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
   :extra-paths ["test" "cljs-test-runner-out/gen"]
   :main-opts ["-m" "cljs-test-runner.main" "-d" "test"]}
  :cljs-build
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}
   :main-opts ["-m" "cljs.main" "-co" "min.js.edn" "-c"]}
  :bench
  {:jvm-opts ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {org.clojure/tools.cli {:mvn/version "1.0.194"}
    criterium/criterium {:mvn/version "0.4.6"} }
   :extra-paths ["bench"]
   :main-opts ["-m" "sci.bench"]}
  :profile
  {:extra-deps
   {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.0"}}
   :extra-paths ["bench"]
   :jvm-opts ["-Djdk.attach.allowAttachSelf" "-Dclojure.compiler.direct-linking=true"]
   :main-opts ["-m" "sci.profile"]}
  :clojure-1.11.0
  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.0-alpha1"}}}}}
