{:deps {:aliases [:shadow]}
 :builds
 {:sci
  {:target :node-library
   :output-to ".shadow-cljs/builds/sci/release/out/sci.js"
   :exports {:eval_string sci.core/eval-string}
   :build-hooks [(shadow.cljs.build-report/hook
                  {:output-to "report.html"})]}}}
