{:config-paths ["../resources/clj-kondo.exports/babashka/sci"]
 :lint-as {me.raynes.conch/let-programs clojure.core/let}
 :linters {:unsorted-required-namespaces {:level :warning}
           :unresolved-symbol {:exclude [(cljs.test/is [thrown-with-data?])
                                         (clojure.test/is [thrown-with-data?])]}}}
