{:aliases
 {:build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.8"}
          slipset/deps-deploy {:mvn/version "0.2.0"}
          insn/insn {:mvn/version "0.5.3"}}
   :ns-default build}}}
