{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]
  ["Asynchronous evaluation" {:file "doc/async.md"}]
  ["Libsci" {:file "doc/libsci.md"}]
  ["Developing SCI" {:file "doc/dev.md"}]]}
