{:paths ["src"]
 :deps {org.babashka/sci {:local/root "../.."}}
 :cljd/opts {:kind :flutter :main repl.app}
 :aliases
 {:cljd {:extra-deps
         {tensegritics/clojuredart
          {:git/url "https://github.com/tensegritics/ClojureDart.git"
           :git/sha "79759559c2cf4280832e596949a81226db336014"}
          borkdude/edamame
          {:git/url "https://github.com/borkdude/edamame.git"
           :git/sha "beb7773df8f938336a460634ea7bd24700e3211d"}}
         :main-opts ["-m" "cljd.build"]}
  ;; local ClojureDart checkout: compose as -M:cljd:cljd-local
  :cljd-local {:override-deps {tensegritics/clojuredart {:local/root "/Users/borkdude/dev/ClojureDart"}}}}}
